.sidebar-wrap {
    width: 100%;
    height: 90vh;
    background-size: cover;
    position: static;
}

.sidebar-nav {
    color: rgba(255, 255, 255, 0.6);
    ;
    width: 110px;
    height: 96vh;
    margin: 10px;
    margin-left: 75px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

/* 鼠标悬停伸展动画 */
.sidebar-nav:hover {
    width: 280px;
    margin-left: 10px
}

/* 红绿灯 */
.btn {
    width: 60px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-top: 25px;
}

.btn-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.btn-item:nth-child(1) {
    background: #eb5a56;
}

.btn-item:nth-child(2) {
    background: #f8bc33;
}

.btn-item:nth-child(3) {
    background: #62cb44;
}

/* 头像 */
.icon {
    width: 250px;
    height: 60px;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
}

.icon-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.icon-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.icon-con {
    height: 6px;
    margin-left: 25px;
}

.icon-con p {
    font-size: 16px;
    margin-top: 5px;
}

.icon-con h2 {
    font-size: 8px;
    margin-top: 8px;
    font-weight: 400;
}

/* 分隔线 */
.line {
    width: 60px;
    height: 1px;
    background: rgba(245, 253, 255, 0.5);
    margin: 20px 25px;
    transition: 0.5s;
}

.sidebar-nav:hover .line {
    width: 230px;
}

/* 菜单 */
.menu {
    width: 230px;
    margin-left: 18px;
    cursor: pointer;
}

.item {
    display: flex;
    font-size: 22px;
    transition: 0.5s;
    border-radius: 6px;
}

.item:hover {
    background: rgba(255, 255, 255, 0.1);
}
/* 菜单图标 */
.licon {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.licon span img {

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 菜单文字 */
.con {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    left: -18px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.sidebar-nav:hover .con {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

/* 左侧亮标 */
.light {
    width: 6px;
    height: 50px;
    background: #eb5a56;
    position: relative;
    left: -20px;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
}

.item:hover .light {
    opacity: 1;
}