/* 侧边栏 */
.sidebar {
    color: rgba(255, 255, 255, 0.6);
    width: 100px;
    height: 90vh;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: auto;
    transition: 0.5s;
}

/* 鼠标悬停伸展动画 */
.sidebar:hover {
    width: 300px;
    margin-left: 10px
}

/* 红绿灯 */
.btn {
    width: 80px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 20px;
}

.btn-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.btn-item:nth-child(1) {
    background: #eb5a56;
}

.btn-item:nth-child(2) {
    background: #f8bc33;
}

.btn-item:nth-child(3) {
    background: #62cb44;
}

/* 头像 */
.icon {
    width: 250px;
    height: 80px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}

.icon-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.icon-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.icon-con {
    height: 10px;
    margin-left: 25px;
}

.icon-con p {
    font-size: 25px;
    margin-top: 5px;
}

.icon-con h2 {
    font-size: 10px;
    margin-top: 10px;
    font-weight: 400;
}

/* 分隔线 */
.sidebar-line {
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background: rgba(245, 253, 255, 0.5);
    margin: 20px auto;
    transition: 0.5s;
}

/* 菜单 */
.sidebar-menu {
    width: 80%;
    margin-left: 10px;
    cursor: pointer;
}

.item {
    display: flex;
    font-size: 22px;
    transition: 0.5s;
    border-radius: 6px;
}

.item:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* 菜单图标 */
.licon {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.licon span img {

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 菜单文字 */
.con {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    left: -18px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.sidebar:hover .con {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

/* 左侧亮标 */
.light {
    width: 10px;
    height: 50px;
    background: skyblue;
    position: relative;
    transition: 0.5s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
}

.item:hover .light {
    opacity: 1;
}